<!DOCTYPE html>
<html lang="pt-br">

  <%- include('./partials/head.ejs') %>

<body>
    
  <%- include('./partials/nav.ejs') %>

    <div class="row">
        <form class="col s12">

          <div class="row">
            <div class="input-field col s6">
              <i class="material-icons prefix">local_grocery_store</i>
              <input id="name" type="text" class="validate" name="name">
              <label for="name">Nome</label>
            </div>

            <div class="input-field col s6">
              <i class="material-icons prefix">monetization_on</i>
              <input id="price" type="tel" class="validate" name="price">
              <label for="price">Preço</label>
            </div>
          </div>

          <div class="btn-cad center-align">
            <button class="btn">
                Adicionar
            </button>
          </div>
          
        </form>
      </div>
</body>
</html>